.desktop {
    .carousel {
        .carousel-inner {
            margin-top: 30vh;
        }
    }
}

.mobile {
    display: none;
    .links-container {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        .component{
            padding-top: 30%;
            padding-bottom: 30%;
        }
    }
}

@media screen and (max-width:1031px){
    .desktop {
        background-color: red;
        display: hide;
    }
    .mobile {
        display: block;
    }
}