@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');
.short-about {
    display: flex;
    justify-content: center;
    .welcome {
        font-family: 'Lexend Deca', sans-serif;
        width: 50%;
        margin-left: -10%;
        #hi {
            color: #42b883;
            font-size: 21px;
        }
        h1 {
            font-size: 50px;
        }
        #name {
            color: white;
        }
        #title {
            color: rgb(155, 155, 155);
        }
        #description {
            color: white;
            font-size: 19px;
            .lang {
                color: #42b883;
            }
        }
    }
    .image {
        width: 30%;
    }
}


@media screen and (max-width:1031px) {
    .short-about {
        .welcome {
            width: 90%;
            margin-left: 5%;
        }
        .image {
            display: none;
        }
    }
}