div {
    ul {
        width: 100%;
        .nav-item {
            text-align: center;
            padding-left: 12%;
            padding-right: 12%;
            button {
                text-align: center;
                color: white;
            }
        }
    }
    width: 70%;
    margin-left: 15%;
    .tab-content {
        .tab-pane {
            div {
                display: flex;
                justify-content: center;
                padding-top: 10vh;
                a {
                    text-decoration: none;
                    color: white;
                    i {
                        font-size: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1031px){
    div {
        ul {
            width: 100%;
            .nav-item {
                text-align: center;
                width: 33%;
                button {
                    text-align: center;
                    color: white;
                }
            }
        }
        width: 70%;
        margin-left: 0%;
        .tab-content {
            .tab-pane {
                margin-left: 50%;
                div {
                    display: flex;
                    justify-content: center;
                    padding-top: 10vh;
                    a {
                        text-decoration: none;
                        color: white;
                        i {
                            font-size: 80px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:557px){
    div {
        ul {
            width: 100%;
            .nav-item {
                text-align: center;
                padding-left: 5%;
                button {
                    text-align: center;
                    color: white;
                }
            }
        }
        width: 70%;
        margin-left: 0%;
        .tab-content {
            .tab-pane {
                margin-left: 50%;
                div {
                    display: flex;
                    justify-content: center;
                    padding-top: 10vh;
                    a {
                        text-decoration: none;
                        color: white;
                        i {
                            font-size: 80px;
                        }
                    }
                }
            }
        }
    }
}
