div {
    ul {
        width: 100%;
        .nav-item {
            text-align: center;
                            padding-left: 15%;

            button {
                text-align: center;
                color: white;
            }
        }
    }
    width: 70%;
    margin-left: 15%;
    .tab-content {
        .tab-pane {
            div {
                display: flex;
                justify-content: center;
                padding-top: 10vh;
                a {
                    text-decoration: none;
                    color: white;
                    i {
                        font-size: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1031px){
    .technologies {
        width: 90%;
        margin-left: 5%;
        margin-top: 0;
        margin-bottom: 0;
        div {
            a {
                i {
                    font-size: 100px;
                }
            }
        }
    }
}

@media screen and (max-width:557px){
    .technologies {
        margin: 90%;
        div {
            a {
                i {
                    font-size: 75px;
                }
            }
        }
    }
}
